@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #EFEFEF;
}

.viewport {
  max-width: 960px;
  margin: auto;
}

main.viewport .bp3-card {
  margin-top: 16px;
}

#user-summary {
  text-align: left;
  overflow: auto;
  .bp3-tag {
    margin-right: 4px;
  }
}

#avatar {
  float: left;
  img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 16px;
  }
}

#default {
  padding: 64px;
  svg {
    width: 64px;
    height: 64px;
    margin-bottom: 12px;
  }
}