@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #EFEFEF;
}

.viewport {
  max-width: 960px;
  margin: auto;
}

#navbar {
  background-color: white;
  box-shadow: 0 0 0 1px rgba(16,22,26,.1),0 0 0 rgba(16,22,26,0),0 1px 1px rgba(16,22,26,.2);
  padding: 4px 0px;
  .viewport {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &>div {
      margin: 4px 0px;
      &:first-child {
        flex-grow: 1;
      }
      &:last-child {
        flex-grow: 1;
      }
    }
  }
  #navbar-title {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
  }
  .bp3-input {
    width: 320px;
  }
  #navbar-right {
    text-align: right;
  }
}

#favorites {
  margin-top: 16px;
  padding: 4px;
  text-align: left;
  overflow: auto;
  border: 1px dashed #D0D0D0;
  border-radius: 3px;
  .bp3-tag {
    margin-right: 4px;
  }
  #favorites-controls {
    float: right;
    &:hover {
      cursor: pointer;
    }
  }
}

main.viewport .bp3-card {
  margin-top: 16px;
  text-align: left;
}

.flex-card-section {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  div {
    flex-grow: 1;
  }
}

.rv-xy-plot__series--label-text {
  text-shadow: 1px 1px 3px white;
}

#user-summary {
  overflow: auto;
  #avatar {
    float: left;
    img {
      max-width: 100px;
      max-height: 100px;
      margin-right: 16px;
    }
  }
  #favorite {
    float: right;
    &:hover {
      cursor: pointer;
    }
  }
  .bp3-icon {
    margin-left: 8px;
    margin-right: 4px;
    &:first-child {
      margin-left: 0px;
    }
  }
  .bp3-tag {
    margin-right: 4px;
  }
}

#repository-list {
  margin-bottom: 42px;
  #repository-list-controls {
    float: right;
  }
  #repository-list-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #repository-list-table-container {
    overflow: auto;
  }
}

.repository {
    flex-grow: 1;
    margin: 8px;
    background-color: #B3CFFF;
    border-radius: 3px;
    & > div {
      padding: 8px;
    }
    .repository-header {
      color: white;
      background-color: #4B6AB2;
      border-radius: 3px 2px 0px 0px;
      a:link {
        color: white;
      }
      a:visited {
        color: white;
      }
      .bp3-icon {
        margin-right: 8px;
      }
    }
    .repository-tag {
      float: right;
      padding: 0px 4px;
      margin-left: 8px;
      color: #1F4B99;
      background-color: white;
      border-radius: 2px;
    }
    .repository-footer {
      overflow: auto;
      .bp3-icon {
        margin-left: 8px;
        margin-right: 4px;
        &:first-child {
          margin-left: 0px;
        }
      }
      .repository-footer-right {
        float: right;
      }
    }
}